<div class="container">
  <header>
    <h1>Hangman</h1>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <ng-container *ngIf="!currentUser">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </ng-container>
      <ng-container *ngIf="currentUser">
        <div class="user-info">
          <i class="fas fa-user"></i>
          <span>{{ currentUser.username }}</span>
          <i (click)="logout()" class="fas fa-right-from-bracket logout-btn"></i>
        </div>
      </ng-container>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>