.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  display: flex;
  border: var(--border-width) solid var(--shadow-color);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  @media screen and (max-width: 668px) {
    font-size: 1rem;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  @media screen and (max-width: 668px) {
    gap: 0;
  }
}

nav a:not(.logout-btn) {
  color: var(--shadow-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem; // Increase the font size
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--secondary);
  font-style: italic; // Make text italic on hover
}

nav a.active {
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: baseline;
  color: white;
  gap: 8px;
  .logout-btn:hover {
    color: var(--secondary);
    cursor: pointer;
  }
}

.user-icon {
  margin-right: 0.5rem;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 668px) {
    padding: 1rem;
  }
}