/* Animations */
@keyframes wiggle {
    0%, 100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.wiggle:hover {
    animation: wiggle 0.5s ease-in-out;
} 