/* Layout Styles */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--accent);
    color: white;
    padding: 1rem;
    display: flex;
    border: var(--border-width) solid var(--shadow-color);
    border-radius: var(--border-radius);
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-top: 0.75rem;

    h1 {
        margin: 0;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        @media screen and (max-width: 668px) {
            font-size: 1rem;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    @media screen and (max-width: 668px) {
        gap: 1.5rem;
    }

    a:not(.logout-btn) {
        color: var(--shadow-color);
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-style: normal;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: skewY(10deg);
        }

        &.active {
            font-weight: bold;
            border-bottom: 3px solid var(--primary);
        }

        &.disabled-link {
            color: var(--grey);
            text-decoration: line-through;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-style: normal;
            cursor: not-allowed;
            &:hover {
                transform: none;
            }
        }
    }
}

.user-info {
    display: flex;
    align-items: baseline;
    color: rgb(0, 0, 0);
    gap: 8px;
    background-color: var(--light);
    border: 1px solid var(--shadow-color);
    padding: 0.5rem;
    
    .logout-btn:hover {
        cursor: pointer;
        color: var(--primary);
    }
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    
    @media screen and (max-width: 668px) {
        padding: 1rem;
    }
} 